.wrapper {
	position: relative;
}

.container {
	max-width: initial;
	width: min(var(--container-max-width), 100% - (var(--container-padding) * 2));
	margin-inline: auto;
}

.page {
	position: relative;
	--container-max-width: #{rem(1184)};
	--container-padding: #{rem(24)};
	@media (max-width: $mobile-sm) {
		--container-padding: #{rem(12)};
	}
}
